<!DOCTYPE html>
<html lang="en">
<head>
    <title>department</title>
    <style>
        main{
            width: 200px;
            height: 200px;
            display: flex;
            border: 1px solid black;
        }
        p{
            text-align: center;
        }
    </style>
</head>
<body style="background-image: url(static/images/bac.jpg);">
<div class="main" >
<div style="background-color:  rgb(154, 224, 233);">
    <center><h2>child health</h2></center>
    <br>
    <p>We the department of Pediatrics at Horizon are dedicated to this motto and we aim to nurture a group of healthy robust future citizens of India.

The road map to achieve this entails care from the womb through neonatal, infancy, childhood and adolescent period.
    </p>
<br>
</div>
</div>
<br>
<div class="main" >
    <div style="background-color:   rgb(154, 224, 233);">
        <center><h2>pediatric</h2></center>
        <br>
        <p>Our thrust areas are, state of art PICU, NICU, PCICU, Pediatric and Neonatal Cardiac surgeries, and Genetics. We are the major centre for bone marrow transplant. We have done 20 pediatric bone marrow transplant in last one year. We are the first institute to do the TCR-alpha beta depleted haploidentical stem transplant and the haploidentical stem cell transplant in india and whole globe, we are the one who started Bodyirradiation [IBI] based transplant.
        Our Specialities </p>
        <br>
    </div>
    </div>
<br>
    <div class="main" >
        <div style="background-color: rgb(154, 224, 233);">
            <center><h2>cardiac science</h2></center>
            <br>
            <p>Department of Cardiac Sciences in horizon is one of the few canters in the Country to provide comprehensive quaternary cardiac care services in various subspecialities like Adult Interventional Cardiology and Adult Cardiothoracic Surgery, Pediatric Interventional Cardiology and Pediatric Cardiac Surgery, Cardiac Electrophysiology, Endovascular interventions, Vascular Surgery, Cardio-Radiology, Nuclear Cardiology, and Cardiac Rehabilitation. The State-of-the-art facilities at the center include advanced Cardiac Cath labs, completely modernized cardiac operation theatres, Minimally Invasive Cardiac Surgery (MICS) suit, Cardiac Physiology, and Imaging lab with Fractional Flow Reserve (FFR), Optical Coherence Tomography (OCT), and Intravascular Ultrasound (IVUS) aiding in precision care in coronary artery disease (CAD).</p>
        <br>
        </div>
        </div>
<br>
        <div class="main" >
            <div style="background-color:  rgb(154, 224, 233);">
                <center><h2>Urology & nephrology</h2></center>
                <br>
                <p>The center of excellence for Nephrology and Urology at Horizon is equipped with state of the art technical support and is dedicated to providing the best of care to patients suffering from kidney and genitourinary issues. Nephrology is the discipline that deals with the treatment of conditions that affect the kidneys, while Urology involves the surgical issues of the urinary tract and the reproductive system.
                    The facility at horizon boasts of the services of some of the best nephrologists and urologists in Kerala with extensive experience in the field.</p>
<br>
            </div>
            </div>
<br>
            <div class="main" >
                <div style="background-color:   rgb(154, 224, 233);">
                    <center><h2>Ocology</h2></center>
                    <br>
                    <p> A designated centre of excellence, the horizon Oncology Centre was established with the vision of providing the best possible care to patients suffering from all types of cancers.
                        The center features the most advanced technology to diagnose and treat cancer in patients and is staffed by highly qualified and experienced medical, surgical, radiation, and palliative oncologists.</p>
<br>
                </div>
                </div>
<br>
                <div class="main" >
                <div style="background-color:   rgb(154, 224, 233);">
                    <center><h2>Neuro science</h2></center>
                    <br>
                    <p>The Institute of Neuro Sciences at horizon is a Centre of Excellence that focuses on providing comprehensive brain, spine and nerve care. One of the few such facilities in the state, the CoE is staffed with experts in neurology, neuroradiology, neuropsychology, neuro oncology and neuro rehabilitation as well as surgeons who specialize in neuro and spine surgery.
                    </p>
                    <br>
                </div>
                </div>
</body>
</html>